@model SisconfFrontEnd.Models.CustosViewModel
@{
    ViewBag.Title = "Custos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Custos</h2>



<canvas id="chart" height="100"></canvas>

<table class="table">
    <tr>
        <th>
            Produto
        </th>
        <th>
            Descrição
        </th>
        <th>
            Custo
        </th>
    </tr>
    @for (int i = 0; i < Model.produtos.Count; i++)
    {
        <tr>
            <td>
                @Model.produtos[i].Nome
            </td>
            <td>
                @Model.produtos[i].Descricao
            </td>
            <td>
                @string.Format("{0:C}", Model.custos[i])
            </td>
        </tr>
    }
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>

    let dadosGrafico = @Html.Raw(Json.Encode(ViewData["dadosGraficos"]));

    var ctx = document.getElementById("chart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dadosGrafico.nomesProdutos,
            datasets: [{
                label: 'Custo dos Produtos',
                data: dadosGrafico.custosProdutos,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>