
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relatórios</h2>
<ul>
    <li>
        @Html.ActionLink("Custos de Produtos", "Custos", "Reports")
    </li>
    <li>
        @Html.ActionLink("Preços para Venda", "PrecoVenda", "Reports", new { id = 10 }, null)
    </li>
    <li>
        @Html.ActionLink("Lucros e Prejuízos", "Lucros", "Reports")
    </li>
    <li>
        @Html.ActionLink("Disponibilidade em de Insumos", "Disponibilidade", "Reports")
    </li>
</ul>