@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex p-2">
    <div class="card mr-2" style="width: 18rem;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Insumos</h5>
            <p class="card-text">Gerencie os insumos usados na confecção dos bolos</p>
            <a href="/Insumos" class="btn btn-primary mt-auto">Ir para Insumos</a>
        </div>
    </div>

    <div class="card mr-2" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">Gerencie os produtos que irão compor as encomendas</p>
            <a href="/Produtos" class="btn btn-primary mt-auto">Ir para Produtos</a>
        </div>
    </div>

    <div class="card mr-2" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Gerencie os clientes do seu negócio</p>
            <a href="/Clientes" class="btn btn-primary mt-auto">Ir para Clientes</a>
        </div>
    </div>


    <div class="card mr-2" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Encomendas</h5>
            <p class="card-text">Gerencie as encomendas dos clientes</p>
            <a href="/Encomendas" class="btn btn-primary mt-auto">Ir para Encomendas</a>
        </div>
    </div>

    <div class="card mr-2" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">Obtenha informações sobre custos de produtos, preços de venda, lucros, e alertas de disponibilidade de estoque</p>
            <a href="/Reports" class="btn btn-primary mt-auto">Ir para Relatórios</a>
        </div>
    </div>
</div>